<div class='row'>
	<div class='col-6'>
		<div class='card'>
			<img src='{{camp.image}}' class='card-img-top'
				alt='{{camp.location}}'
				style='object-fit:  cover; max-height: calc(100vh - 500px);' />
			<div class='card-body'>
				<h5 class='card-title'>
					{{camp.title}}
				</h5>
				<small>Author by: {{camp.author.username}}</small>
				<p class='card-text mt-2'>{{camp.description}}</p>
			</div>

			<ul class='list-group list-group-flush'>
				<li class='list-group-item text-muted'>{{camp.location}}</li>
				<li class='list-group-item'>${{camp.price}}/night</li>
			</ul>

			<div class='card-body'>
				<form class='mb-0'
					action='/campgrounds/{{camp.id}}?_method=delete'
					method='post'>
					<a href='/campgrounds' class='btn btn-info'>
						Back to Campgrounds
					</a>
					{{#if isAuthor}}
					<a href='/campgrounds/{{camp.id}}/update'
						class='btn btn-primary'>
						Update
					</a>

					<button class='btn btn-danger'>
						Delete
					</button>
					{{/if}}
				</form>
			</div>

			<div class='card-footer'>
				<small>
					2 days ago
				</small>
			</div>
		</div>
	</div>

	<div class="col-6">
		<h2 class="mb-3">Leave a review</h2>

		<form method="post" action="/campgrounds/{{camp.id}}/reviews"
			class="{{#if user}}validation-form{{/if}} mb-4" novalidate
			id="{{#if user}}rating-form{{/if}}">

			<fieldset class="starability-basic">
				<input type="radio" id="no-rate" class="input-no-rate"
					name="rating" value="0" checked aria-label="No rating." />
				<input type="radio" id="first-rate1" name="rating" value="1" />
				<label for="first-rate1" title="Terrible"></label>
				<input type="radio" id="first-rate2" name="rating" value="2" />
				<label for="first-rate2" title="Not good"></label>
				<input type="radio" id="first-rate3" name="rating" value="3" />
				<label for="first-rate3" title="Average"></label>
				<input type="radio" id="first-rate4" name="rating" value="4" />
				<label for="first-rate4" title="Very good"></label>
				<input type="radio" id="first-rate5" name="rating" value="5" />
				<label for="first-rate5" title="Amazing"></label>
			</fieldset>

			<div class="invalid-feedback mt-2">
				This field is required!
			</div>

			<div class="mt-4">
				<label for="body" class="form-label">Review</label>
				<textarea class="form-control" name="body" id="body" rows="3"
					required></textarea>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					This field is required!
				</div>
			</div>

			<button type="submit" class="btn btn-success mt-3">Submit</button>
		</form>

		{{#each camp.reviews}}
		<div class="card mb-2">
			<div class="card-body">
				<h5 class="fw-bold">
					{{author.username}}
				</h5>

				{{> star this}}

				<p class="card-text mt-1"> {{body}}
				</p>


				{{#if isAuthor}}
				<form
					action="/campgrounds/{{../camp.id}}/reviews/{{id}}?_method=delete"
					method="POST">
					<button class="btn btn-sm btn-danger">Delete</button>
				</form>
				{{/if}}
			</div>
		</div>
		{{/each}}
	</div>
</div>