<link rel="stylesheet" href="/mapbox-gl/mapbox-gl.css">

<div id="map" style="height: 600px;"></div>

<div class='row'>
	<div class='col-6'>
		<div class='card'>



			<div id="carouselExampleControls" class="carousel slide"
				data-bs-ride="carousel">
				<div class="carousel-inner">
					{{#each camp.images}}
					<div
						class="carousel-item {{#unless @index}}active{{/unless}}">
						<img src="{{thumnail}}" class="d-block w-100"
							alt="{{filename}}">
					</div>
					{{/each}}
				</div>
				<button class="carousel-control-prev" type="button"
					data-bs-target="#carouselExampleControls"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon"
						aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button"
					data-bs-target="#carouselExampleControls"
					data-bs-slide="next">
					<span class="carousel-control-next-icon"
						aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>

			<div class='card-body'>
				<h5 class='card-title'>
					{{camp.title}}
				</h5>
				<small>Author by: {{camp.author.username}}</small>
				<p class='card-text mt-2'>{{camp.description}}</p>
			</div>

			<ul class='list-group list-group-flush'>
				<li class='list-group-item text-muted'>{{camp.location}}</li>
				<li class='list-group-item'>${{camp.price}}/night</li>
			</ul>

			<div class='card-body'>
				<form class='mb-0'
					action='/campgrounds/{{camp.id}}?_method=delete'
					method='post'>
					<a href='/campgrounds' class='btn btn-info'>
						Back to Campgrounds
					</a>
					<a href='/campgrounds/{{camp.id}}/update'
						class='btn btn-primary'>
						Update
					</a>

					<button class='btn btn-danger'>
						Delete
					</button>
				</form>
			</div>

			<div class='card-footer'>
				<small>
					2 days ago
				</small>
			</div>
		</div>
	</div>

	<div class="col-6">
		<h2 class="mb-3">Leave a review</h2>

		<form method="post" action="/campgrounds/{{camp.id}}/reviews"
			class="{{#if user}}validation-form{{/if}} mb-4" novalidate
			id="{{#if user}}rating-form{{/if}}">

			<fieldset class="starability-basic">
				<input type="radio" id="no-rate" class="input-no-rate"
					name="rating" value="0" checked aria-label="No rating." />
				<input type="radio" id="first-rate1" name="rating" value="1" />
				<label for="first-rate1" title="Terrible"></label>
				<input type="radio" id="first-rate2" name="rating" value="2" />
				<label for="first-rate2" title="Not good"></label>
				<input type="radio" id="first-rate3" name="rating" value="3" />
				<label for="first-rate3" title="Average"></label>
				<input type="radio" id="first-rate4" name="rating" value="4" />
				<label for="first-rate4" title="Very good"></label>
				<input type="radio" id="first-rate5" name="rating" value="5" />
				<label for="first-rate5" title="Amazing"></label>
			</fieldset>

			<div class="invalid-feedback mt-2">
				This field is required!
			</div>

			<div class="mt-4">
				<label for="body" class="form-label">Review</label>
				<textarea class="form-control" name="body" id="body" rows="3"
					required></textarea>
				<div class="valid-feedback">
					Looks good!
				</div>
				<div class="invalid-feedback">
					This field is required!
				</div>
			</div>

			<button type="submit" class="btn btn-success mt-3">Submit</button>
		</form>

		{{#each camp.reviews}}
		<div class="card mb-2">
			<div class="card-body">
				<h5 class="fw-bold">
					{{author.username}}
				</h5>

				{{> star this}}

				<p class="card-text mt-1"> {{body}}
				</p>


				{{#if isAuthor}}
				<form
					action="/campgrounds/{{../camp.id}}/reviews/{{id}}?_method=delete"
					method="POST">
					<button class="btn btn-sm btn-danger">Delete</button>
				</form>
				{{/if}}
			</div>
		</div>
		{{/each}}
	</div>
</div>

<script>
	const MAPBOX_TOKEN = '{{ MAPBOX_TOKEN }}'
</script>
<script type="module" src="/javascript/mapbox-view.js"></script>