<link href="/mapbox-gl/mapbox-gl.css" rel="stylesheet">

<div id="cluster-map" class="mb-5 rounded-2"></div>


<h1>All campgrounds</h1>

<a class='btn' href='/campgrounds/new'>Add a new campground</a>

{{greet}}

{{#each camps}}
<div class='card my-2 overflow'>
	<div class='row'>
		<div class='col-md-4'>
			<img width='100%' alt='{{location}}' src='{{thumnail}}' />
		</div>
		<div class='col-md-8'>
			<div class='card-body'>
				<h5 class='card-title'>{{{title}}}</h5>
				<p class='card-text'>{{description}}</p>
				<p class='card-text'>
					<small class='text-muted'>
						{{location}}
					</small>
				</p>
				<a href='/campgrounds/{{id}}' class='btn btn-primary'>
					View
					{{{title}}}
				</a>
				<a href='/campgrounds/{{id}}/update'
					class='btn btn-outline-primary'>
					Update
				</a>
			</div>
		</div>
	</div>
</div>
{{/each}}

<form action='/campgrounds/reset' method='post'>
	<button>Reset</button>
</form>

<data data-camps="{{ camps_json }}"></data>

<script type="module" src="/javascript/mapbox-cluster.js"></script>