<div class='row'>
	<h1 class='text-center'>{{title}}</h1>
	<div class='col-6 offset-3'>
		<form action='/campgrounds/{{camp.id}}?_method=PUT' method='post'
			class="validation-form" novalidate enctype="multipart/form-data">
			<div class='mb-2'>
				<label for='title' class='form-label'> Title</label>
				<input class='form-control' type='text' name='title' id='title'
					value='{{camp.title}}' required />
				<div class="valid-feedback">
					Looks good!
				</div>
			</div>

			<div class='mb-2'>
				<label for='location' class='form-label'> Location</label>
				<input class='form-control' type='text' name='location'
					id='location' value='{{camp.location}}' required />
				<div class="valid-feedback">
					Looks good!
				</div>
			</div>

			<div class='mb-2'>
				<label for='price' class='form-label'> Price</label>
				<div class='input-group'>
					<span class='input-group-text'>$</span>
					<input type='number' class='form-control' name='price'
						placeholder='0.00' step='0.01' id='price'
						value='{{camp.price}}' required />
					<div class="valid-feedback">
						Looks good!
					</div>

				</div>
			</div>

			<div class='mb-2'>
				<label for='description' class='form-label'>Example
					textarea</label>
				<textarea class='form-control' name='description'
					id='description' rows='3'
					required>{{camp.description}}</textarea>
				<div class="valid-feedback">
					Looks good!
				</div>

			</div>


			<div class="mb-2">
				<label for='images' class='form-label'> Upload image</label>
				<input type="file" class="form-control" for='images'
					name="images" id="images" multiple>
				<div class="valid-feedback">
					Looks good!
				</div>
			</div>


			{{#each camp.images }}
			<div class="mb-2">
				<input type="checkbox" name="deleteImages[]"
					id="del_img_{{@index}}" value="{{id}}">
				<label for="del_img_{{@index}}">Delete</label>
				<img class="w-100" src="{{url}}" alt="{{filename}}">
			</div>
			{{/each}}



			<div class='d-flex justify-content-end mt-4'>
				<a href='/campgrounds/{{camp.id}}' class='btn btn-info'>
					Back to details
				</a>
				<button type='submit'
					class='btn btn-primary ms-2'>Update</button>
			</div>
		</form>
	</div>
</div>